:root {
	--bodyBg: black;
	--textCol: white;
	--h1Bg: linear-gradient(45deg, darkblue, white);
	--mainBg: linear-gradient(45deg, darkblue, transparent);
	--markCol: red;
	--boxBg: rgba(0, 0, 0, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	background: var(--bodyBg); /* Unnecessary due to canvas, but if canvas produce some error, this bg will used */
	color: var(--textCol);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-family: "QuickSand", sans-serif;
}

/* Header */
header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}

header img { border-radius: 50%; }

header a {
	text-decoration: none;
	padding: 7px 10px;
	background: var(--h1Bg);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	transition: opacity 0.7s ease 0.05s;
}

header a:hover { opacity: 0.7; }

/* Main */
main {
	position: relative;
	z-index: 1;
	width: clamp(250px, 95%, 500px);
	border-radius: 70px;
	background: var(--mainBg);
	padding: 10px 0;
}

main h2,
main h3 {
	width: 100%;
	text-align: center;
	margin: 7px 0;
	letter-spacing: 0.5px;
}

main h2 {
	font-size: 2rem;
	font-family: "Monoton", sans-serif;
}

main h3 { 
	font-family: "Cinzel Decorative", serif;
	font-size: 1rem; 
	font-weight: thin;
}

h3 mark { background: transparent; }

/* Main Clock */
#clock {
	width: 100%;
	gap: 10px;
	margin: 10px 0;
}

#clock .box {
	width: clamp(40px, 8vmax , 70px);
	height: clamp(40px, 8vmax , 70px);
	background: var(--boxBg);
	border-radius: 15px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}

h3 mark, #hours, #minutes, #AmPm { color: var(--markCol); }

#dots {
	flex-direction: column;
	gap: 7px;
}

#dots span {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: var(--textCol);
}

#clock #AmPm { font-size: 1.3rem; }

/* Main Socials */
header,
#clock,
#clock .box,
#socials ul,
#socials a {
	display: flex;
	justify-content: center;
	align-items: center;
}

#socials ul {
	gap: 7px;
	width: 100%;
	height: clamp(50px, 10vmin, 90px);
	list-style: none;
}

#socials a {
	text-decoration: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--textCol);
	color: var(--bodyBg);
	font-size: 1.7rem;
	transition: all 0.5s ease 0.05s;
	cursor: pointer;
	opacity: 0;
	animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
	100% { opacity: 1; }
}

#socials a:hover {
	background: var(--bodyBg);
	color: var(--textCol);
}

/* Canvas */
canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	animation: fade-in 1.5s ease 0.05s forwards;
}

/* Some Classes */
.show { opacity: 0; }
.show.loaded {	animation: fade-in 1s ease 0.05s forwards; }

@keyframes fade-in {
	100% { opacity: 1; 
}

