:root {
    --overlayCol: #355070;
    --textCol: #fff1E6;
    --markCol: #1E2A38;
    --navCol: #ffc262;
    --glowBG: linear-gradient(45deg, var(--navCol), var(--textCol));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("/bg.webp");
    background-size: cover;
    background-position: center;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.3px;
    color: var(--textCol);
}

body::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlayCol);
    opacity: 0.35;
}

mark {
    color: var(--markCol);
    background: transparent;
    font-weight: bold;
}

header,
footer div {
    border: 0;
    border-radius: 20px;
    backdrop-filter: blur(10px) invert(0.3) contrast(1.05);
    background: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

header,
section,
footer {
    position: relative;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px;
    padding: 7px 0;
    animation: down 1s ease 0s;
}

@keyframes down {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

h1 {
    font-size: 1.3em;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    font-weight: bold;
}

main {
    width: 100%;
    height: 85%;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 95vw;
    max-width: 570px;
}

h2 {
    text-align: center;
    font-size: 30px;
    word-spacing: 3px;
    position: relative;
}

.glow {
    background: var(--glowBG);
    -webkit-background-clip: text;
    color: transparent;
}

p {
    text-align: center;
    padding: 7px;
    line-height: 25px;
}

p::after {
    content: "|";
    font-size: 20px;
    font-weight: thin;
    color: var(--markCol);
    animation: blink 1s step-end 0s infinite;
    padding-left: 3px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#icons {
    user-select: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px 0;
}

#icons img {
    width: 10vmin;
    max-width: 40px;
    height: 10vmin;
    max-height: 40px;
    display: inline-block;
    border: 0;
    border-radius: 50%;
    background: var(--textCol);
    padding: 4px;
    transition: all 0.4s ease 0s;
    animation: show 3s ease 0s;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#icons a:focus-visible {
    outline: 0;
    border: 0;
}

#icons a:hover img,
#icons a:focus-visible img {
    display: inline-block;
    transform: translateY(-10px);
    background: var(--glowBG);
    box-shadow: 0 0 12px var(--navCol);
}

footer {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    animation: up 1s ease 0s;
}

@keyframes up {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 7px;
    }
}

footer div {
    padding: 7px 10px;
    width: fit-content;
    margin: 0 auto;
}

footer span {
    color: var(--navCol);
}

::selection {
    background: var(--navCol);
    color: var(--markCol);
}

@media only screen and (orientation: landscape) {
    header {
        padding: 10px 0;
    }

    h2,
    #icons img {
        transform: scale(1.1);
    }

    p {
        transform: scale(1.05);
        line-height: 27px;
    }

    #icons {
        margin: 10px 0;
    }
}
